extends regular
block seo
  title= accessoires[1]["t"]
  +desc('Эффективная точилка c лезвием высокого качества и высокопрочным корпусом')
block inside
  p
    a(href="./accessoires.html").rank= accessoires[1]["cat"]
  h1= accessoires[1]["t"]
  h2 ТОЧИЛКА для косметических карандашей
  p.text-center
    img(src="./i/sharp.png", alt="ТОЧИЛКА для косметических карандашей")
  p Эффективная точилка c лезвием высокого качества и высокопрочным корпусом предназначена для затачивания косметических карандашей обычного размера. Сверху точилка закрыта прозрачным колпачком, благодаря чему ее не надо чистить после каждого использования. Точилка идеально затачивает карандаши для губ и глаз, придавая грифелю требуемую форму и обеспечивая более ровное и точное нанесение декоративной косметики.
