extends regular
block inside
  p
    a(href="./perf.html").rank Уход за кожей
  h1 Ultra Hyaluronic Line
  h2
    |Wrinkle filler night cream
    br
    |Восстанавливающий ночной крем против морщин 50 мл
  +img('123.jpg','Восстанавливающий ночной крем против морщин 50 мл')
  p Крем с богатой формулой, сильными восстановительными свойствами и видимым омолаживающим эффектом. SIGNAL-10 максимально быстро проникает в самые глубокие слои кожи, удерживает влагу и предотвращает ее потерю, образуя особый защитный барьер. Содержащийся в креме фитосквалан обладает антиоксидантными свойствами. Повышает мягкость и эластичность кожи, восстанавливает и возвращает защитные свойства липидному слою кожи. Питает кожу, образуя на поверхности пленку-барьер, благодаря чему кожа противостоит воздействию внешних факторов. Нанесенный на ночь, крем будет питать вашу кожу и разгладит микроморщины, эффективно восполняя дефицит гиалуроновой кислоты.
  p
    ol
      each title in ['идеально увлажняет', 'восстанавливает', 'питает', 'заполняет морщины', 'улучшает общее состояние кожи']
        li= title
  p
    ul.rain
      each title in ['Lanol 99','Phytosqualan','TsubakiOil (масло  японской камелии)','Signal-10','Lanol 99','Phytosqualan','TsubakiOil (масло  японской камелии)','Signal-10','Aquaxyl']
        li= title
