doctype html
html.no-js(lang='ru')
    include components/mixins/_mixin-news
    include components/common/_variables
    include components/service/_head
    body
      include components/common/_header
      block content
        include components/common/_content
      include components/common/_footer
      // Yandex.Metrika counter
      script(type='text/javascript').
        (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
        try {
        w.yaCounter41809524 = new Ya.Metrika({
        id:41809524,
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true
        });
        } catch(e) { }
        });
        var n = d.getElementsByTagName("script")[0],
        s = d.createElement("script"),
        f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/watch.js";
        if (w.opera == "[object Opera]") {
        d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
        })(document, window, "yandex_metrika_callbacks");
      noscript
        div
          img(src='https://mc.yandex.ru/watch/41809524', style='position:absolute; left:-9999px;', alt='')
      // /Yandex.Metrika counter

      include components/service/_js.html
