extends regular
block seo
  title= makeup[3]["t"]
  +desc('LONG LASH MASCARA разработана для создания длинных, блестящих и подкрученных ресниц.')
block inside
  p
    a(href="./makeup.html").rank= makeup[3]["cat"]
  h1= makeup[3]["t"]
  p.text-center
    img(src="./i/mascara.png", alt=makeup[3]["t"])
  p LONG LASH MASCARA разработана для создания длинных, блестящих и подкрученных ресниц. Эффект использования этой туши можно сравнить с использованием щипчиков для завивки ресниц: тушь подкручивает Ваши ресницы, делая глаза более выразительными. Уникальная щёточка: уже после первого нанесения туши ресницы прокрашены и удлинены. Ваши ресницы более длинные, идеально чёрные, кокетливо подкручены и полностью разделены.
  p Цвет: черный
  p
    ul.rain
      each title in ['максимально удлиненные','кокетливо изогнутые','шелковистые и ухоженные','глубокого черного цвета']
        li= title
