extends regular
block seo
  title= makeup[4]["t"]
  +desc('VOLUME LASH MASCARA. Вы забудете о накладных ресницах: с использованием этой туши Вы добьётесь сногсшибательного эффекта, увеличивая объём Ваших ресниц на 200%.')
block inside
  p
    a(href="./makeup.html").rank= makeup[4]["cat"]
  h1= makeup[4]["t"]
  h2 TУШЬ, ДЕЛАЮЩАЯ РЕСНИЦЫ БОЛЕЕ ГУСТЫМИ
  p.text-center
    img(src="./i/volume.png", alt=makeup[4]["t"])
  p VOLUME LASH MASCARA. Вы забудете о накладных ресницах: с использованием этой туши Вы добьётесь сногсшибательного эффекта, увеличивая объём Ваших ресниц на 200%. Благодаря инновационной конструкции щетинок щёточка без склеивания и утяжеления прокрасит и сделает более густыми даже самые короткие реснички.
  p Цвет: черный
  p
    ul.rain
      each title in ['максимально густые','максимальный объём','шелковистые и ухоженные','интенсивно чёрные']
        li= title
