extends regular
block seo
  title= accessoires[1]["t"]
  +desc('ЗАПЕЧЕННЫЕ ТЕНИ ДЛЯ ГЛАЗ «ДУЭТ» 3 Г')
block inside
  p
    a(href="./accessoires.html").rank= accessoires[1]["cat"]
  h1= accessoires[1]["t"]
  h2 ЗАПЕЧЕННЫЕ ТЕНИ ДЛЯ ГЛАЗ «ДУЭТ» 3 Г
