extends regular
block seo
  title= makeup[0]["t"]
  +desc('Сочные, яркие цвета великолепно подчеркивают глаза и создают эффектный и стойкий макияж')
block inside
  p
    a(href="./makeup.html").rank= makeup[0]["cat"]
  h1= makeup[0]["t"]
  h2 DUO BAKED EYE SHADOWS
  p.text-center
    img(src="./i/duo.png", alt=makeup[0]["t"])
  p Сочные, яркие цвета великолепно подчеркивают глаза и создают эффектный и стойкий макияж. С помощью запеченных теней от LAMBRE можно создавать как легкий дневной, так и насыщенный вечерний макияж, используя технику сухого или влажного нанесения. Палитра из шести дуэтов ярких  чувственных оттенков позволит создать выразительный образ, подчеркнув естественную красоту глаз. Создавайте новые образы, настроения, играйте цветами вместе с тенями DUO BAKED EYE SHADOWS.
  p
    ul.rain
      each title in ['насыщенность цвета','устойчивость макияжа','легкость нанесения']
        li= title
