extends regular
block seo
  title= makeup[2]["t"]
  +desc('Карандаш для глаз LAMBRE EyeLiner подчеркивает линию глаза, придавая взгляду выразительность и характер.')
block inside
  p
    a(href="./makeup.html").rank= makeup[2]["cat"]
  h1= makeup[2]["t"]
  p.text-center
    img(src="./i/glamour.png", alt=makeup[2]["t"])
  p Идеально выполненная стрелка позволит Вам подчеркнуть макияж глаз, их природную красоту и форму. Благодаря новой подводке для глаз EYELINER GLAMOUR нанесение стрелок станет легким и приятным занятием. Одно мгновение - и Вы можете любоваться идеальным макияжем, привлекающим внимание окружающих.
  p Цвет: черный
  p
    ul.rain
      each title in ['идеальная точность','глубокий черный цвет','необыкновенно стойкий','не размазывается']
        li= title
