extends regular
block seo
  title= makeup[6]["t"]
  +desc('Подводка для глаз LAMBRE Permanent EyeLiner идеально подходит для выполнения четких стрелок на веках. ')
block inside
  p
    a(href="./makeup.html").rank= makeup[6]["cat"]
  h1= makeup[6]["t"]
  h2 PERMANENT EYELINER
  p.text-center
    img(src="./i/"+ makeup[6]["img"], alt=makeup[6]["t"])
  p Подводка для глаз LAMBRE Permanent EyeLiner идеально подходит для выполнения четких стрелок на веках. Благодаря использованию специально подобранных пигментов у продукта глубокий, интенсивный цвет. Тонкий аппликатор позволяет выполнить точные, четкие линии. Подводка подчеркивает линию глаза, придавая взгляду выразительность. Сделайте свои глаза настоящим оружием обольщения.
  p
    ul.rain
      each title in ['четкие стрелки','глубокий насыщенный цвет','идеально подходит для дымчатого макияжа глаз']
        li= title
