extends regular
block seo
  title= makeup[1]["t"]
  +desc('Карандаш для глаз LAMBRE EyeLiner подчеркивает линию глаза, придавая взгляду выразительность и характер.')
block inside
  p
    a(href="./makeup.html").rank= makeup[1]["cat"]
  h1= makeup[1]["t"]
  h2 EYE LINER
  p.text-center
    img(src="./i/eyeliner.png", alt=makeup[1]["t"])
  p Карандаш для глаз LAMBRE EyeLiner подчеркивает линию глаза, придавая взгляду выразительность и характер. Карандаш мягкий, благодаря чему линия наносится легко и точно, но и достаточно твердый, чтобы не оставлять комочков между ресницами. Оригинальный аппликатор для растушевки предназначен для создания мягких естественных линий.
  p
    ul.rain
      each title in ['удобное нанесение','стойкая формула','аппликатор для растушевки для создания эффекта „smoky eyes”']
        li= title
