extends regular
block seo
  title= makeup[5]["t"]
  +desc('LAMBRE GLAMOUR SATIN MATT EFFECT Eye shadow - это коллекция из 7 матовых теней для век, которые помогут вам ежедневно производить эффект, захватывающий дух. ')
block inside
  p
    a(href="./makeup.html").rank= makeup[5]["cat"]
  h1= makeup[5]["t"]
  h2 SATIN MATT EFFECT EYE SHADOW
  p.text-center
    img(src="./i/satin.png", alt=makeup[5]["t"])
  p LAMBRE GLAMOUR SATIN MATT EFFECT Eye shadow - это коллекция из 7 матовых теней для век, которые помогут вам ежедневно производить эффект, захватывающий дух. Разнообразная цветовая гамма дает свободу для творчества и самовыражения. Благодаря своей консистенции тени обеспечивают «бархатное» нанесение, что доставляет еще больше удовольствия от привычного ритуала. Матовые тени станут незаменимым помощником при создании макияжа глаз “smokey eyes”. Насыщенные и стойкие оттенки гарантируют идеальный макияж в течение всего дня.
  h2.text-center “ДЫМЧАТЫЙ” СОБЛАЗНИТЕЛЬНЫЙ ГЛАМУРНЫЙ ВЗГЛЯД
  p
    ul.rain
      each title in ['матовый эффект','идеально для макияжа “smokey eyes”','бархатное нанесение','насыщенные пигменты']
        li= title
