extends regular
block seo
  title Заказать продукцию
  +desc('На данной странице вы можете заполнить форму и заказать продукцию')
block inside
  p
    h1 Заказать продукцию
  iframe(src='https://docs.google.com/forms/d/e/1FAIpQLSdaxGDAF3SyIlBlnF08Fv2OQYU2Gc2Qc5EmexcnGDqlZ1xpoA/viewform?embedded=true',height='1000',style="border:0;margin:0;width:100%;") Загрузка...
