extends index
include components/mixins/_mixin-img
block content
  .row.columns
    .area
      .row
        .medium-16.columns
          block inside
        .large-8.medium-8.columns
          include components/common/_news
