extends index
include components/mixins/_mixin-img
block content
  .row.columns
    .area
      .row
        .medium-16.columns(itemscope,itemtype="http://schema.org/Product")
          block inside
          div(itemprop="offers",itemscope,itemtype="http://schema.org/Offer")
            a(href="./order.html") Заказать продукцию
        .large-8.medium-8.columns
          include components/common/_news
