include ../mixins/_mixin-desc
head
  meta(http-equiv='x-ua-compatible', content='ie=edge')
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  block seo
    var allDesc = 'На нашем сайте вы можете заказать элитную французскую парфюмерию и косметику Ламбре в Донецке, Макеевке, Кировское, Енакиево и Шахтерске';
    title Ламбре - французская парфюмерия и косметика в Донецке
    +desc(allDesc)
    meta(property="og:type", content="website")
    meta(property='og:title', content='Ламбре - французская парфюмерия и косметика в Донецке')
    meta(property='og:description', content=allDesc)
    meta(property='og:image', content='https://lambre.github.io/images/logo.png')
    meta(property='og:url', content='https://lambre.github.io')
  link(rel='stylesheet', href='css/style.css')
  script(type='text/javascript')
    include:uglify-js ../../../../node_modules/npm-modernizr/modernizr.js
