include ../mixins/_mixin-desc
head
  meta(http-equiv='x-ua-compatible', content='ie=edge')
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  meta(name='google-site-verification', content='LoCpe6EaOKkPb8x3FWkgE5hzzEz4_m8kqoFtqQIrB5U')

  block seo
    title Ламбре - французская парфюмерия и косметика в Донецке
    +desc(allDesc)
    meta(property="og:type", content="website")
    meta(property='og:title', content='Ламбре - французская парфюмерия и косметика в Донецке')
    meta(property='og:description', content=allDesc)
    meta(property='og:image', content=siteRoot+'images/logo.png')
  link(rel='stylesheet', href='css/style.css')
  script(type='text/javascript')
    include:uglify-js ../../../../node_modules/npm-modernizr/modernizr.js
