//- https://www.npmjs.com/package/gulp-useref
// build:js(./) js/lib.js type="text/javascript"
script(src='node_modules/jquery/dist/jquery.min.js', type='text/javascript')
//- script(src='node_modules/what-input/what-input.min.js', type='text/javascript')
script(src='node_modules/foundation-sites/dist/foundation.min.js', type='text/javascript')
script(src='node_modules/slick-carousel/slick/slick.min.js', type='text/javascript')
// endbuild
// build:js(./) js/app.js type="text/javascript"
script(src='src/js/app.js', type='text/javascript')
// endbuild