ul.cat.text-center.medium-text-left
  li.cat__item
    a.cat__link(href="#") Женская парфюмерия
  li.cat__item
    a.cat__link(href="#") Мужская парфюмерия
  li.cat__item
    a.cat__link(href="./careskin.html") Уход за кожей
  li.cat__item
    a.cat__link(href="./makeup.html") Макияж
  li.cat__item
    a.cat__link(href="./accessoires.html") Аксессуары
  li.cat__item
    a.cat__link(href="./order.html") Заказать продукцию
