.row.columns
  h2.text-center
    b Новинки
.row.large-up-3.medium-up-2.small-up-1
  each obj in news
    +news(obj,true)

.row.columns
  h2.text-center
    b Видео о компании
.row.medium-up-2.small-up-1

  .columns
    .responsive-embed.widescreen
      iframe( height='325', src='https://www.youtube.com/embed/d-VOzkiTb4g',  allowfullscreen='',style="border:0;width:100%;")
  .columns
    .responsive-embed.widescreen
      iframe( height='325', src='https://www.youtube.com/embed/7aMX-nmrsGk',  allowfullscreen='',style="border:0;width:100%;")
  .columns
    .responsive-embed.widescreen
      iframe( height='325', src='https://www.youtube.com/embed/y3msJgATDH8',  allowfullscreen='',style="border:0;width:100%;")
  .columns
    .responsive-embed.widescreen
      iframe( height='325', src='https://www.youtube.com/embed/UP-B9R4BEMQ',  allowfullscreen='',style="border:0;width:100%;")
p &#160;
