.row.columns
  .holiday
    include _search
.row
  .medium-12.columns
    .responsive-embed.widescreen
      iframe( height='325', src='https://www.youtube.com/embed/nvAsMO1iufY',  allowfullscreen='',style="border:0;width:100%;")
    .responsive-embed.widescreen
      iframe( height='325', src='https://www.youtube.com/embed/d-VOzkiTb4g',  allowfullscreen='',style="border:0;width:100%;")
  .medium-12.columns
    .responsive-embed.widescreen
      iframe( height='325', src='https://www.youtube.com/embed/7aMX-nmrsGk',  allowfullscreen='',style="border:0;width:100%;")
    .responsive-embed.widescreen
      iframe( height='325', src='https://www.youtube.com/embed/UPCNtGZKAMY',  allowfullscreen='',style="border:0;width:100%;")
