.footer
  .row
    .large-5.medium-7.medium-offset-0.columns.text-center.medium-text-left
      a(href="./")
        .header__logo.hide-for-small-only
          img(src="./images/logo.png",alt="Lambre")
      a.header__phone(href="tel:+380504225695")
        i.fa.fa-phone-square.fa-lg
        |&nbsp;
        |+38 050-422-56-95
      // Yandex.Metrika informer
      a(href='https://metrika.yandex.ua/stat/?id=41809524&from=informer', target='_blank', rel='nofollow')
        img.ym-advanced-informer(src='https://informer.yandex.ru/informer/41809524/3_1_FFFFFFFF_EFEFEFFF_0_pageviews', style='width:88px; height:31px; border:0;', alt='Яндекс.Метрика', title='Яндекс.Метрика: данные за сегодня (просмотры, визиты и уникальные посетители)', data-cid='41809524', data-lang='ru')
      // /Yandex.Metrika informer
      // Yandex.Metrika counter
      script(type='text/javascript').
        (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
        try {
        w.yaCounter41809524 = new Ya.Metrika({
        id:41809524,
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true
        });
        } catch(e) { }
        });
        var n = d.getElementsByTagName("script")[0],
        s = d.createElement("script"),
        f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/watch.js";
        if (w.opera == "[object Opera]") {
        d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
        })(document, window, "yandex_metrika_callbacks");
      noscript
        div
          img(src='https://mc.yandex.ru/watch/41809524', style='position:absolute; left:-9999px;', alt='')
      // /Yandex.Metrika counter
    .large-19.medium-17.columns
      include _cat
