.footer
  .row
    .large-5.medium-7.small-22.small-offset-2.medium-offset-0.columns.text-right.medium-text-left
      a(href="./")
        .header__logo.hide-for-small-only
          img(src="./images/logo.png",alt="Lambre")
      a.header__phone(href="tel:+380504225695")
        i.fa.fa-phone-square.fa-lg
        |&nbsp;
        |+38 050-422-56-95
    .large-19.medium-17.columns
      include _cat
