.cat {
    list-style-type: none;
    margin-bottom: rem-calc(10);
    margin-top: rem-calc(18);
    float: left;
    margin-left: rem-calc(0);
    width: 100%;
border-radius: rem-calc(10);
    &__item {
        float: left;

  background: linear-gradient(to top, rgba(#333,1), $red);
        background-color: #5f5f5f;

        &:hover {
            background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #3F3F3F), color-stop(0.5, #383838), color-stop(0.51, #434343), color-stop(1, #555555));
            background-color: #383838;
            -webkit-box-shadow: inset 0 0 5px 5px #535353;
            box-shadow: inset 0 0 5px 5px #535353;
        }

        &:active {
            background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #3F3F3F), color-stop(0.5, #383838), color-stop(0.51, #434343), color-stop(1, #555555));
            background-color: #383838;
            -webkit-box-shadow: inset 0 1px 2px 2px #000;
            box-shadow: inset 0 1px 2px 2px #000;
        }
    }

    &__link {
        font-size: rem-calc(14);
        padding: rem-calc(8) rem-calc(15);
        color: white;
        text-decoration: none;
        display: block;
        outline: none;

        &:hover {
            color: #fff;
        }

        &:focus {
            color: $red;
        }
    }
    @media (max-width: 1130px) {
        margin-top: rem-calc(0);
    }
    @include breakpoint(small only) {
        margin-top: rem-calc(15);
        margin-bottom: rem-calc(15);
        &__item {
          width: 100%;
        }
    }
}
