.header {

    margin-bottom: rem-calc(30);
    padding-top: rem-calc(10);
    position: relative;

    &__phone {
        padding-bottom: rem-calc(10);
        display: block;
        &:hover {
          text-decoration: underline;
        }
    }

    &__toggle {
        position: absolute;
        left: rem-calc(16);
        top: rem-calc(9);
    }

    &__logo {
        padding-right: rem-calc(10);
        background: $red;
        border-radius: rem-calc(8);
        padding-left: rem-calc(10);
        margin-right: rem-calc(10);
        display: inline-block;
        padding-top: rem-calc(5);
        padding-bottom: rem-calc(5);
        margin-bottom: rem-calc(5);

        img {
            max-height: rem-calc(40);
        }
    }
}
