.holiday {
    box-shadow: 0 4px 20px rgba(0,0,0,0.35);
    border: 0.07143rem solid #a6a6a6;
    margin-bottom: rem-calc(20);

    .cse .gsc-search-button input.gsc-search-button-v2,
    input.gsc-search-button-v2 {
        height: rem-calc(40);
    }

    input.gsc-search-button {
        background: url("../images/search.svg") no-repeat center;
        background-size: 60% 60%;

        &:hover {
            background-color: transparent;
            background: url("../images/search.svg") no-repeat center;
            background-size: 60% 60%;
        }
    }

    .gsc-input-box {
        height: rem-calc(40);
        padding-top: rem-calc(2);
    }

    input.gsc-input {
        height: rem-calc(35)!important;
    }

    td.gsib_a {
        padding-top: rem-calc(0);
    }
}
