.novel {
  position: relative;

  &:hover {
    .novel__title {
      color: $red;
    }

    .novel__img {
      box-shadow: 0 0 30px #000;
    }
  }

  &__img {
    transition: 0.3s;
    height: rem-calc(277);
    margin-bottom: rem-calc(10);
    background: #fff;
    line-height: rem-calc(277);
    box-shadow: 0 0 30px #585858;

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  &__title {
    transition: 0.3s;
    font-size: rem-calc(21);
    font-weight: 600;
    color: #fff;
    text-shadow: rem-calc(0 0 25) #000;
  }
  @include breakpoint(small only) {
    &__img {
      height: auto;
    }
  }
}
