.novel {
    &:hover {
        .novel__title {
            color: $red;
        }

        .novel__img {
            box-shadow: 0 0 30px #000;
        }
    }

    .rank {
        position: relative;
        bottom: rem-calc(-2);
    }

    &__img {
        height: rem-calc(277);
        margin-bottom: rem-calc(10);
        background: #fff;
        line-height:rem-calc(277);
        box-shadow: 0 0 30px #585858;
    }

    &__title {
        font-size: rem-calc(21);
        font-weight: 600;
        color: #000;
    }
    @include breakpoint(small only) {
        &__img {
            height: auto;
        }
    }
}
