@charset "utf-8";

// Все картинки и шрифты необходимо подключать с использованием этих двух переменных:
$imagesPath: '../images' !default;
$fontsPath: '../fonts' !default;

$fa-font-path: $fontsPath;
$red: #ff0052;

@import "settings";
@import "external";

@import "fonts";
@import "common";
@import "slick/slick-theme";
//@import "fancybox";

@import "footer";
@import "header";
@import "sticky-footer";
@import "cat";
@import "area";
@import "rank";
@import "rain";
@import "holiday";
@import "novel";
